<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">About</h5>
                <p class="grey-text text-lighten-4">
                    The official website for General Championship 2022, IIT
                    Bhubaneswar
                </p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Quick Links</h5>
                <ul>
                    <li>
                        <a class="white-text" href="#top" onclick=""
                            >Go to top</a
                        >
                    </li>
                    <li><a class="white-text" href="#!">Log Out</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">IIT Bhubaneswar</h5>
                <ul>
                    <li>
                        <a class="white-text" href="https://www.iitbbs.ac.in/"
                            >Institute Website</a
                        >
                    </li>
                    <li>
                        <a
                            class="white-text"
                            href="https://gymkhana.iitbbs.ac.in/"
                            >Students' Gymkhana</a
                        >
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by
            <a
                class="brown-text text-lighten-3"
                href="http://materializecss.com"
                >Web and Design Society, IIT Bhubaneswar</a
            >
        </div>
    </div>
</footer>
