<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="index.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
<form method="POST" action="/formpost" >
    <div>
    <label for="info" style="display: inline;">Name :</label>
    <input id="info" type="text" name="info" style="padding: 20px;">
    <br>
    <br>
    <input type="submit" style="padding:10px ;font-size:40px;">
    </div>
    
</form>
</body>
<script>
    alert("please fill the correct details");
</script>
</html>